/* 
    Document   : style
    Created on : Jan 2, 2010, 7:04:04 PM
    Author     : michaelarace
    Description:
        Purpose of the stylesheet follows.
*/

* {
    padding: 0;
    margin: 0;
}

input {
    border: 1px #DDD solid;
    padding: 2px;
}

select {
    border: 1px #DDD solid;
}

select option {
	padding: 1px;
}

h3 {
    margin: 5px 0 5px 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 11pt;
    background-color: #333;
    text-align: center;
}

div.screen-header {
    background-color: #555;
    margin: 0 auto 0 auto;
    width: 95%;
    color: white;
    text-align: left;
}

div.screen-footer {
    background-color: #FFF;
    margin: 0 auto 0 auto;
    width: 95%;
    color: #666;
    text-align: center;
}

div.screen-footer p {
	padding: 5pt;
}

h1.logo {
    margin: 1em;
    float: left;
    color: #FFF;
    font-size: 17pt;
}

div.topnav {
    margin: 1em;
    float: right;
}

div.navtabs-container {
    width: 100%;
    float: right;
    background-color: #444;
}

ul.navtabs {
    float: right;
    background-color: #444;
    list-style-type: none;
}

ul.navtabs li {
    float: left;
    padding: 10px;
}

ul.navtabs li.current-navtab {
    background-color: #555;
}

input {
    border: 1px #DDD solid;
}

div.screen-header a {
    color: #FFF;
    text-decoration: underline;
}

div.screen-content {
    background-color: #FFF;
    margin: 0 auto 0 auto;
    width: 93%;
    text-align: left;
	padding: 1%;
}

div.screen-filter {
    background-color: #CCC;
    width: 98%;
    text-align: left;
	border: 1px #777 solid;
	padding: 1%;
}

div.screen-filter div.screen-filter-button {
    text-align: right;
}

div.screen-filter-item {
	width: 170px;
	float: left;
}

div.screen-filter-item label {
	font-size: 10pt;
}

div.screen-filter-item input {
    border: 1px #777 solid;
}

div.screen-filter-item select {
    border: 1px #777 solid;
}

.action-buttons {
	margin-top: 4px;
	border: 1px #777 solid;
	width: 98%;
	padding: 0 1% 1% 1%;
	background-color: #EEE;
}

.action-buttons input {
	float: left;
	margin-right: 1em;
}

.action-buttons {
	border: 1px #777 solid;
	width: 98%;
	padding: 0 1% 1% 1%;
	background-color: #EEE;
}

fieldset.action-buttons legend {
	font-size: 10pt;
	padding: 5px;
}

table.screen-grid {
	width: 100%;
	padding: 1px;
	margin: 1% 0;
	border: solid 1px #000;
	font-family: Helvetica, sans-serif;
    font-size: 11pt;
	border-spacing: 0;
}

table.screen-grid a {
	color: black;
}

table.screen-grid th.screen-grid-th  {
	padding: 2px;
	background-color: #888;
	color: #FFF;
	text-align: left;
}

table.screen-grid th.screen-grid-th a {
	color: #FFF;
	text-decoration: none;
}

th.screen-grid-th-current-asc {
	padding: 2px;
	color: #FFF;
	background: url(../images/up_icon.png) no-repeat 99% 50%;
	background-color: #666;
	text-align: left;
}

th.screen-grid-th-current-asc a {
	color: #FFF;
	text-decoration: none;
}

th.screen-grid-th-current-desc {
	padding: 2px;
	color: #FFF;
	background: url(../images/down_icon.png) no-repeat 99% 50%;
	background-color: #666;
	text-align: left;
}

th.screen-grid-th-current-desc a {
	color: #FFF;
	text-decoration: none;
}

tr.screen-grid-td-odd {
	background-color: #DDD;
}

tr.screen-grid-td-odd td {
	border-right: #BBB 1px solid;
	padding: 2px;
}

tr.screen-grid-td-even {
	background-color: #FFF;
}

tr.screen-grid-td-even td {
	border-right: #DDD 1px solid;
	padding: 2px;
}

div.screen-grid-pagination {
	background-color: #888;
	color: #FFF;
}

div.screen-grid-pagination a {
	color: #FFF;
	text-decoration: none;
}

div.screen-grid-pagination div.prev {
	background-color: #888;
	float: left;
	width: 10%;
	text-align: center;
}

div.screen-grid-pagination div.displaying {
	background-color: #888;
	float: left;
	width: 80%;
	text-align: center;
}

div.screen-grid-pagination div.next {
	background-color: #888;
	float: left;
	width: 10%;
	text-align: center;
}

div.error-box {
    margin: 5px 0 5px 0;
    border: 1px red solid;
    padding: 5px;
    color: black;
    background-color: #FFDFE0;
}

div.success-box {
    margin: 5px 0 5px 0;
    border: 1px #256F0D solid;
    padding: 5px;
    color: black;
    background-color: #E7FFDF;
}

fieldset.field-group {
	border: 1px #999 solid;
	width: 98%;
	padding: 0 1% 1% 1%;
}

fieldset.field-group legend {
	font-size: 10pt;
	color: #999;
	padding: 5px;
	margin-left: .5em;
}

div.field-container-div {
	margin: 3px 0;
}

div.field-container-div label {
	display: block;
}

span.field-string-readonly {
	font-style: italic;
	margin-left: 1em;
}