/* 
    Document   : style
    Created on : Jan 2, 2010, 7:04:04 PM
    Author     : michaelarace
    Description:
        Purpose of the stylesheet follows.
*/

* {
    padding: 0;
    margin: 0;
}

input {
    border: 1px #DDD solid;
    padding: 2px;
}

h3 {
    margin: 5px 0 5px 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 11pt;
    background-color: #333;
    text-align: center;
}

div.screen-header {
    background-color: #555;
    margin: 0 auto 0 auto;
    width: 95%;
    color: white;
    text-align: left;
}

div.screen-footer {
    background-color: #FFF;
    margin: 0 auto 0 auto;
    width: 95%;
    color: #666;
    text-align: center;
}

div.screen-footer p {
	padding: 5pt;
}

h1.logo {
    margin: 1em;
    float: left;
    color: #FFF;
    font-size: 17pt;
}

div.topnav {
    margin: 1em;
    float: right;
}

div.navtabs-container {
    width: 100%;
    float: right;
    background-color: #444;
}

ul.navtabs {
    float: right;
    background-color: #444;
    list-style-type: none;
}

ul.navtabs li {
    float: left;
    padding: 10px;
}

ul.navtabs li.current-navtab {
    background-color: #555;
}

input {
    border: 1px #DDD solid;
}

div.screen-header a {
    color: #FFF;
    text-decoration: underline;
}

div.screen-content {
    background-color: #FFF;
    margin: 0 auto 0 auto;
    width: 95%;
    text-align: left;
}

div.screen-filter {
    background-color: #CCC;
    width: 98%;
    text-align: left;
	border: 1px #777 solid;
	padding: 1%;
}

div.screen-filter div.screen-filter-button {
    text-align: right;
}

div.screen-filter-item label {
	font-size: 10pt;
}

div.screen-filter-item input {
    border: 1px #777 solid;
    padding: 2px;
}

div.error-box {
    margin: 5px 0 5px 0;
    border: 1px red solid;
    padding: 5px;
    color: black;
    background-color: #FFDFE0;
}